<div class="container vh-100 d-flex justify-content-center align-items-center">
  <div class="card bg-dark text-white text-center">
    <div class="card-header">
      <h3>hotel</h3>
    </div>
    <div class="card-body text-start ">
      <form>
        <div class="mb-3">
          <label for="name">Nombre del hotel:</label>
          <input type="name" placeholder="Name" class="form-control" />
        </div>
        <div class="mb-3">
          <label for="description">Reseña del hotel:</label>
          <textarea
            name="description"
            rows="3"
            class="form-control"
            placeholder="Write a description"
          ></textarea>
        </div>
        <div class="mb-3">
          <label for="price">Precio:</label>
          <textarea
            name="price"
            rows="1"
            class="form-control"
            placeholder="Write a price"
          ></textarea>
        </div>
        <div class="mb-3">
          <label for="image">Imagen URL:</label>
          <textarea
            name="image"
            rows="3"
            class="form-control"
            placeholder="Write an Image-URL"
          ></textarea>
        </div>
        <button class="btn btn-primary btn-block">Guardar</button>
      </form>
    </div>
  </div>
</div>
