<footer class="bg-dark text-white text-center p-4">
    <p class="h4">Copyright © 2023 The Ingemiembros </p>
</footer>

<!-- Este script es para que el menú se despliegue en modo Mobile, el footer debe estar incoporado en todas las vistas que aparezca el menú. -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>